/* Blue Theme */

/* bg */
.blue-bg-primary{
    background: #2E97ED !important;
}

.blue-bg-secondary{
    background: #C7E6FF !important;
}


/* color */
.blue-c-primary{
    color: #2E97ED !important;
}

.blue-c-secondary{
    color: #C7E6FF !important;
}

