/* ../Fonts */
@font-face {
    font-family: 'aileronblack';
    src: url('../fonts/Aileron-Black-webfont.eot');
    src: url('../fonts/Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Black-webfont.woff') format('woff'),
         url('../fonts/Aileron-Black-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Black-webfont.svg#aileronblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronblack_italic';
    src: url('../fonts/Aileron-BlackItalic-webfont.eot');
    src: url('../fonts/Aileron-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-BlackItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-BlackItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-BlackItalic-webfont.svg#aileronblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronbold';
    src: url('../fonts/Aileron-Bold-webfont.eot');
    src: url('../fonts/Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Bold-webfont.woff') format('woff'),
         url('../fonts/Aileron-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronbold_italic';
    src: url('../fonts/Aileron-BoldItalic-webfont.eot');
    src: url('../fonts/Aileron-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-BoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-BoldItalic-webfont.svg#aileronbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronheavy';
    src: url('../fonts/Aileron-Heavy-webfont.eot');
    src: url('../fonts/Aileron-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Heavy-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-Heavy-webfont.woff') format('woff'),
         url('../fonts/Aileron-Heavy-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Heavy-webfont.svg#aileronheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronheavy_italic';
    src: url('../fonts/Aileron-HeavyItalic-webfont.eot');
    src: url('../fonts/Aileron-HeavyItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-HeavyItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-HeavyItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-HeavyItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-HeavyItalic-webfont.svg#aileronheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronitalic';
    src: url('../fonts/Aileron-Italic-webfont.eot');
    src: url('../fonts/Aileron-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Italic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-Italic-webfont.woff') format('woff'),
         url('../fonts/Aileron-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Italic-webfont.svg#aileronitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronlight';
    src: url('../fonts/Aileron-Light-webfont.eot');
    src: url('../fonts/Aileron-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Light-webfont.woff') format('woff'),
         url('../fonts/Aileron-Light-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronlight_italic';
    src: url('../fonts/Aileron-LightItalic-webfont.eot');
    src: url('../fonts/Aileron-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-LightItalic-webfont.svg#aileronlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/Aileron-Regular-webfont.eot');
    src: url('../fonts/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Regular-webfont.woff') format('woff'),
         url('../fonts/Aileron-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronsemibold';
    src: url('../fonts/Aileron-SemiBold-webfont.eot');
    src: url('../fonts/Aileron-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Aileron-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-SemiBold-webfont.svg#aileronsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronsemibold_italic';
    src: url('../fonts/Aileron-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Aileron-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-SemiBoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-SemiBoldItalic-webfont.svg#aileronsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronthin';
    src: url('../fonts/Aileron-Thin-webfont.eot');
    src: url('../fonts/Aileron-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-Thin-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-Thin-webfont.woff') format('woff'),
         url('../fonts/Aileron-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-Thin-webfont.svg#aileronthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronthin_italic';
    src: url('../fonts/Aileron-ThinItalic-webfont.eot');
    src: url('../fonts/Aileron-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-ThinItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-ThinItalic-webfont.svg#aileronthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronultralight';
    src: url('../fonts/Aileron-UltraLight-webfont.eot');
    src: url('../fonts/Aileron-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-UltraLight-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-UltraLight-webfont.woff') format('woff'),
         url('../fonts/Aileron-UltraLight-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-UltraLight-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronultralight_italic';
    src: url('../fonts/Aileron-UltraLightItalic-webfont.eot');
    src: url('../fonts/Aileron-UltraLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aileron-UltraLightItalic-webfont.woff2') format('woff2'),
         url('../fonts/Aileron-UltraLightItalic-webfont.woff') format('woff'),
         url('../fonts/Aileron-UltraLightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Aileron-UltraLightItalic-webfont.svg#aileronultralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#roboto_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#roboto_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Black.woff2') format('woff2'),
         url('../fonts/Lato-Black.woff') format('woff'),
         url('../fonts/Lato-Black.ttf') format('truetype'),
         url('../fonts/Lato-Black.svg#lato_black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold.svg#lato_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_extra_bold_italic';
    src: url('../fonts/Lato-ExtraBoldItalic.eot');
    src: url('../fonts/Lato-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-ExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/Lato-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/Lato-ExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/Lato-ExtraBoldItalic.svg#lato_extra_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_italic';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Italic.woff2') format('woff2'),
         url('../fonts/Lato-Italic.woff') format('woff'),
         url('../fonts/Lato-Italic.ttf') format('truetype'),
         url('../fonts/Lato-Italic.svg#lato_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light.woff2') format('woff2'),
         url('../fonts/Lato-Light.woff') format('woff'),
         url('../fonts/Lato-Light.ttf') format('truetype'),
         url('../fonts/Lato-Light.svg#lato_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff2') format('woff2'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg#lato_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_semibold';
    src: url('../fonts/Lato-Semibold.eot');
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Semibold.woff2') format('woff2'),
         url('../fonts/Lato-Semibold.woff') format('woff'),
         url('../fonts/Lato-Semibold.ttf') format('truetype'),
         url('../fonts/Lato-Semibold.svg#lato_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}