body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

 @font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot'), /* IE9 Compat Modes */
         url('../fonts/Lato-Light.woff') format('font-woff'), /* Pretty Modern Browsers */
         url('../fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Lato-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot'), /* IE9 Compat Modes */
         url('../fonts/Lato-Regular.woff') format('font-woff'), /* Pretty Modern Browsers */
         url('../fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Lato-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot'), /* IE9 Compat Modes */
         url('../fonts/Lato-Bold.woff') format('font-woff'),
         url('../fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Lato-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Aileron-Thin';
    src: url('../fonts/Aileron-Thin-webfont.eot'), /* IE9 Compat Modes */
         url('../fonts/Aileron-Thin-webfont.woff') format('font-woff'), /* Pretty Modern Browsers */
         url('../fonts/Aileron-Thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Aileron-Thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/Aileron-Bold-webfont.eot'), /* IE9 Compat Modes */
         url('../fonts/Aileron-Bold-webfont.woff') format('font-woff'), /* Pretty Modern Browsers */
         url('../fonts/Aileron-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Aileron-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

/* ERROR VALIDATION */
#validation-errors {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  font-family: 'aileronsemibold';
  color: #FF3B12;
}

#validation-errors-signup {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  font-family: 'aileronsemibold';
  color: #FF3B12;
}

/* END ERROR VALIDATION */
.nav_overlay{
  position: absolute;
  background: #eed5ccd6;
  height: 400px;
  width: 100%;
  padding: 25px;
  margin: 0;
  left: 0;
  top: 0;
}

.nav_container{
  max-width: 1140px;
  margin: 0 auto;
}

.topnav {
overflow: hidden;
background-color: #f6d9ca;
background: url('../images/icons/bg_landing_header.png') no-repeat #f6d9ca;
background-size: cover;
padding: 25px 15px 40px;
height: 500px;
/* background: rgba(246,217,203,0.98);
background: -moz-linear-gradient(left, rgba(246,217,203,0.98) 0%, rgba(255,255,255,0.98) 89%, rgba(255,255,255,0.98) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,217,203,0.98)), color-stop(89%, rgba(255,255,255,0.98)), color-stop(100%, rgba(255,255,255,0.98)));
background: -webkit-linear-gradient(left, rgba(246,217,203,0.98) 0%, rgba(255,255,255,0.98) 89%, rgba(255,255,255,0.98) 100%);
background: -o-linear-gradient(left, rgba(246,217,203,0.98) 0%, rgba(255,255,255,0.98) 89%, rgba(255,255,255,0.98) 100%);
background: -ms-linear-gradient(left, rgba(246,217,203,0.98) 0%, rgba(255,255,255,0.98) 89%, rgba(255,255,255,0.98) 100%);
background: linear-gradient(to right, rgba(246,217,203,0.98) 0%, rgba(255,255,255,0.98) 89%, rgba(255,255,255,0.98) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d9cb', endColorstr='#ffffff', GradientType=1 ); */
}

.bgThird{
    overflow: hidden;
    background-color: #f6d9ca;
    background: url('../images/icons/bg_landing_3.png') no-repeat;
    background-size: cover;
}

.bgFourth{
  overflow: hidden;
  background-color: #f6d9ca;
  background: url('../images/icons/bg_landing_4.png') no-repeat;
  background-size: cover;
}

.bgFifth{
  overflow: hidden;
  background-color: #f6d9ca;
  background: url('../images/icons/bg_landing_5.png') no-repeat;
  background-size: cover;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 10px 16px;
text-decoration: none;
font-size: 15px;
}

.active {
/*background-color: #4CAF50;*/
color: white;
}

.hide {
  display: none !important;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}

.login-container{
  float: left;
  width: 100%;
  text-align: right;
}

.btn-login,
.btn-signup{
color: #5e5e5e !important;
font-weight: bold;
font-size: 12px !important;
font-family: "Lato-Bold";
float: right !important;
}

.free-sign-up{
  background: #55C2F8;
  color: #fff !important;
  border-radius: 50px;
  padding: 10px 30px !important;
}

.btn-try-it-now{
  background: #55C2F8;
  border: none;
  color: #fff;
  padding: 6px 120px;
  border-radius: 50px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-family: "Lato-Bold";
  font-size: 18px;
  cursor: pointer;
}

.site_logo{
  /*width: 100px;*/
  position: relative;
  top: -8px;
}

.welcome_div{
  /*position: relative;*/
  /*height: 100%;*/
  text-align: center;
  /*top: 40px;*/
  background-color: transparent;
}

.center_vertically,
.center_div{
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: right;
}

.div_container{
padding: 70px 0px 0px;
}

.gray_bg{
background-color: #f1f3f6;
background-color: #f3f6f8;
}

.pink_fade_bg{
/*background-color: #fbede7;*/
background: rgba(255,255,255,0.89);
background: -moz-linear-gradient(top, rgba(255,255,255,0.89) 0%, rgba(246,217,203,0.89) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.89)), color-stop(100%, rgba(246,217,203,0.89)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.89) 0%, rgba(246,217,203,0.89) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.89) 0%, rgba(246,217,203,0.89) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.89) 0%, rgba(246,217,203,0.89) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.89) 0%, rgba(246,217,203,0.89) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6d9cb', GradientType=0 );
}

.violet_fade_bg{
background-color: #4e5977;
}

.dark_brown_bg{
background-color: #5e5e5e;
}

.txt-left{
text-align: left !important;
}

.txt-center{
text-align: center !important;
}

.btn_already_urtasked{
  text-align: center !important;
  width: 100%;
  color: #5e5e5e !important;
  margin: 0 auto;
  display: contents !important;
  float: none !important;
  font-family: Lato-Regular;
}

.welcome_title{
  color: #5e5e5e;
  font-family: Lato-Bold;
  letter-spacing: -0.8px;
  font-size: 27px;
  margin-right: 41%;
  top: 33px;
  position: relative;
}

.welcome_desc{
color: #5e5e5e !important;
text-align: center;
width: 50%;
margin: 0 auto;
font-family: Lato-Light;
}

.center_or{
  color: #5e5e5e;
  font-family: Aileron-Thin;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.center_row_title{
color: #5e5e5e;
font-family: Aileron-Thin;
font-size: 50px;
}

.center_row_sub_title{
font-family: Aileron-Bold;
color: #5e5e5e;
font-size: 35px;
}

.center_row_desc{
color: #5e5e5e;
font-size: 15px;
}

.stripe-button-el span{
background-color: #22A7F0 !important;
background-image: linear-gradient(#22A7F0,#22A7F0 85%,#22A7F0) !important;
text-shadow: 0 -1px 0 blue !important;
}

.modal-header{
border-bottom: none !important;
}

/* Set a style for all buttons */
.login-modal-btn {
background-color: #5e5e5e;
color: white;
padding: 10px 16px;
margin: 8px 0;
border: none;
cursor: pointer;
float: right;
}

.login-modal-btn:hover {
opacity: 0.8;
}

.container.pink_fade_bg{
border-radius: 4px !important;
}


.control-label{
font-family: Lato-Regular;
color: #020202;
}

.radio label{
font-family: Lato-Regular;
color: #020202;
cursor: pointer;
}

.btn-submit{
background-color: #000 !important;
margin-left: 10px;
margin-right: 15px;
}

.btn-border-radius-50{
  border-radius: 50px !important;
}

.signup-try-it{
  background: #55C2F8;
  border: 1px solid #55C2F8;
  color: #fff !important;
  padding: 9px 33px 9px !important;
  line-height: 1 !important;
  border-radius: 20px !important;
  cursor: pointer;
  font-size: 14px !important;
  margin-top: 20px !important;
  font-family: arial !important;
}

.signup-try-it:hover{
background-color: #62aace;
border: 1px solid #62aace;
}

.signup-try-it:focus {
  outline: 0;
}

.card{
width: 70%;
margin: 0 auto;
border: 1px solid rgba(0, 0, 0, 0.19);
border-radius: 6px;
}

.package_name{
  font-family: Aileron-Bold;
  color: #5e5e5e;
  font-size: 40px;
}

.price{
  color: #5e5e5e;
  font-size: 30px;
}

.currency{
font-size: 22px;
top: -9px;
position: relative;
}

.buy-now{
  background-color: #039be4;
  border: 1px solid #039be4;
  color: #fff;
  padding: 6px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.feature-container{
margin-bottom: 35px;
margin-left: 20% !important;
}

.feature-title{
  color: #5e5e5e;
  font-family: "Lato-Bold";
  margin: 0;
}

.feature-desc{
  color: #5e5e5e;
  font-size: 15px;
}

.feature-list-title{
margin-bottom: 40px;
}

.copyright-txt{
color: #fff;
font-size: 15px;
margin:0;
}

.copyright-container{
margin: 0;
background: #999898;
padding: 20px;
}

.price-section {
/*margin: 45px auto 70px;*/
/* background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,230,220,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(249,230,220,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,230,220,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,230,220,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,230,220,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(249,230,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9e6dc', GradientType=0 ); */
max-width: unset !important;
margin: 0;
padding: 65px 0 100px;
}

/* .price-section h1 {
margin-bottom: 40px;
} */

.pricing_sub_conntainer{
  margin-top: 40px;
}

.price-section .box {
display: flex;
align-items: center;
justify-content: center;
}

.price-section .item {
width: 250px;
text-align: center;
padding: 35px 20px;
border: 3px solid #fff;
margin: 0px 20px;
background: #fff;
-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.17);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.17);
}

.price-section .mb {
font-family: Aileron;
color: #5E5E5E;
font-size: 22px;
}

.price-section .amount {
  font-family: Aileron-Bold;
  color: #5E5E5E;
  font-size: 55px;
  display: flex;
  align-items: start;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 13px;
}

.price-section .amount b {
font-size: 14px;
}

.price-section .amount span {
font-family: Aileron-Bold;
font-size: 30px;
margin-top: 6px;
line-height: 1;
}

.price-section button {
background: #55C2F8;
border: 1px solid #55C2F8;
color: #fff;
font-family: "Lato-Bold";
padding: 5px 65px 7px;
line-height: 1;
border-radius: 20px;
cursor: pointer;
font-size: 16px;
margin-top: 20px;
}

.price-section button:hover {
background: #62aace;
}

.price-section button:focus {
outline: none;
}

.pricing_container {
margin: 70px auto 0;
}

.pricing_container .braintree-placeholder {
display: none;
}

.pricing_container #submit-button {
background: #5E5E5E;
color: #fff;
border: unset;
border-radius: 3px;
padding: 8px 18px 9px;
margin-top: 10px;
cursor: pointer;
}

/*.stripe-button-el{
display: none !important;
}*/

/*---------- TASK BANANA MODAL ----------*/
.taskbanana.modal {
    font-family: 'aileronregular';
}

.taskbanana.modal .close {
    opacity: 0.4;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 18px;
}

.taskbanana.modal .modal-header {
    position: relative;
}

.taskbanana.modal .modal-header,
.taskbanana.modal .modal-footer {
    border: none;
}

.taskbanana.modal .modal-body {
    padding: 35px 55px;
    /*padding: 10px 38px;*/
}

.taskbanana.modal .modal-footer {
    padding: 0 28px 28px;
    /*padding: 0 38px 34px;*/
}

.taskbanana.modal .modal-title {
    color: #5E5E5E;
    font-size: 18px;
    text-align: center;
    /* margin: 32px 0 12px 0; */
    margin: 70px 0px -12px 0px;
    font-family: 'aileronsemibold';
    width: 100%;
}

.taskbanana.modal .modal-project {
    margin: 0;
    font-size: 12px;
}

.taskbanana.modal .modal-tools {
    float: right;
    position: absolute;
    top: 46px;
    right: 32px;
}

/*.taskbanana.modal .modal-tools .edit-icon {
    height: 19px;
}

.taskbanana.modal .modal-tools .delete-icon {
    height: 20px;
    margin-left: 5px;
}*/

.taskbanana.modal .form-group {
    /*margin-bottom: 22px;*/
    /*margin-bottom: 10px;*/
    padding: 10px;
    margin: -10px -10px 12px -10px;
}

.taskbanana.modal .form-control {
    /* border: 1px solid #D1D1D1;
    border-radius: 2px; */
    border: 0;
    outline: 0;
    border-radius: 0px;
    border-bottom: 1px solid #a9a9a9;
    /* padding: 0.375rem 1.30rem; */
    padding: 0px;
    font-size: 14px;
}

.taskbanana.modal .form-control:focus {
    box-shadow: none;
}

.taskbanana.modal .invalid-feedback {
    /*visibility: hidden;*/
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    font-family: 'aileronsemibold';
    color: #FF3B12;
}

.taskbanana.modal .has-error > input,
.taskbanana.modal .has-error > .texteditor-wrap,
.taskbanana.modal .has-error > .dropdown-add input,
.taskbanana.modal .has-error > .panel,
.taskbanana.modal .has-error > select {
    border-color: #FF3B12;
}

.taskbanana.modal .has-error > .invalid-feedback {
    /*visibility: visible;*/
    display: block;
}

.taskbanana.modal .has-error .add-to-dropdown {
    background: #FF3B12;
}

.taskbanana.modal label {
    color: #5E5E5E;
}

.taskbanana.modal .btn {
    border-radius: 0;
    color: #fff;
}

.taskbanana.modal .btn:focus {
    outline: none;
}

.taskbanana.modal .btn:active {
    box-shadow: none;
}

.taskbanana.modal .btn-cancel {
    background: #8D8E8E;
}

.taskbanana.modal .btn-cancel:hover {
    background: #797979;
}

.taskbanana.modal .btn-save {
    background: #55C2F8;
}

.taskbanana.modal .btn-save:hover {
    background: #4497bf;
}

.taskbanana.modal .no-bg-btn {
    background: none;
    color: #1FB2BF;
    font-size: 16px;
}

.taskbanana.modal .no-bg-btn:hover {
    background: none;
}

.taskbanana.modal .no-bg-btn.btn-save {
    font-family: 'aileronbold';
    margin-left: 0;
}

.taskbanana.modal .texteditor-btn {
    color: #888;
}

.taskbanana.modal .texteditor-btn:hover,
.taskbanana.modal .texteditor-btn.active {
    color: #555;
}

.taskbanana.modal .panel {
    border-radius: 2px;
    box-shadow: none;
    border-color: #D1D1D1;
    margin-bottom: 0;
    margin-top: 1px;
} 

.taskbanana.modal .panel-heading {
    background-color: #fff;
    border-color: #D1D1D1;
}
/*---------- END TASK BANANA MODAL ----------*/

/*---------- LOGIN MODAL ----------*/
#login_modal.modal .modal-dialog {
    width: 500px;
    max-width: 100%;
    margin: 6% auto;
}
/*---------- END LOGIN MODAL ----------*/

@media (min-width: 768px) {
    .taskbanana.modal .form-group .col-sm-6:nth-child(odd) {
        padding-left: 0;
        padding-right: 6px;
    }
}

@media (max-width: 640px) {
    #login_modal {
        padding: 0 10px;
    }
}

/* login */

.hidden{
  display: none !important;
}

.pull-right{
  float: right;
}

.email_icon{
  position: absolute;
  margin-top: 11px;
}

.password_icon{
  position: absolute;
  margin-top: 10px;
}

.eye_closed_icon,
.eye_open_icon{
  position: absolute;
  right: 55px;
  cursor: pointer;
  margin-top: -24px;
}

.forgot_pass_remember{
  font-size: 14px;
  margin-top: -25px !important;

}

.remember_me,
.forgot_pass{
  font-size: 14px;
  cursor: pointer;
}

.remember_me{
  position: relative;
  margin-left: 20px;
}

.login-btn{
    background: #55C2F8 !important;
    border: none !important;
    color: #fff !important;
    /* padding: 6px 169px !important; */
    border-radius: 50px !important;
    margin-bottom: 15px !important;
    font-family: "Lato-Bold" !important;
    font-size: 18px !important;
    cursor: pointer !important;
    margin: 0 auto !important;
}

.donthaveaccnt{
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #5E5E5E;
}

.donthaveaccnt_signup{
  color: #55C2F8;
  font-weight: initial;
}

/* .class_checkbox {
  width: 20px;
  height: 20px;
  background: url('../images/icons/login/box-unchecked.png') no-repeat;
  float: left;
  position: relative;
  right: -18px;
  top: 3px;
}
.class_checkbox.checked {
  background:url('../images/icons/login/box-checked.png') no-repeat;
} */

#rememberMe {
  visibility: hidden;
}

input#rememberMe::after {
  visibility: visible;
  content: " ";
  color: red;
  background: url('../images/icons/login/box-unchecked.png') no-repeat;
  padding: 10px 22px;
  position: relative;
  top: 8px;
  left: 14px;
}

input#rememberMe:checked::after {
  content: "";
  background:url('../images/icons/login/box-checked.png') no-repeat;
}
