/* Pink Theme */

/* bg */
.pink-bg-primary{
    background: #EF9478 !important;
}

.pink-bg-secondary{
    background: #FFE9DE !important;
}

/* color */
.pink-c-primary{
    color: #EF9478 !important;
}

.pink-c-secondary{
    color: #FFE9DE !important;
}

