body {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 40px 18px 20px;
	font-family: 'aileronregular';
	font-size: 14px;
	color: #5E5E5E;
}

.border-box {
    width: 480px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 2px -2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px -2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 2px -2px 3px 0px rgba(0,0,0,0.2);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 12px 0 20px;
}

form .login-modal-btn {
	color: #fff;
    border-radius: 20px;
    font-family: 'roboto_regular';
    letter-spacing: 1px;
    width: 65%;
    margin: 35px 0 0;
    background: #21C1D6;
}

.first-step,
.second-step {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.second-step .form-group:first-child {
	margin-top: 18px;
}

.second-step .form-group {
	width: 100%;
	margin: 0 0 26px;
	text-align: left;
	padding: 0px 30px;
}

.second-step label {
	font-size: 12px;
    color: #929292;
    font-family: 'aileronsemibold';
    padding: 0 0 6px
}

.second-step .form-control {
    padding: 0 4px;
    height: 30px;
    color: #929292;
    font-size: 12px;
}

.second-step .form-control[name="business_name"] {
	padding: 2px 6px;
}

.footer {
	margin: 0 0 25px;
	font-size: 12px;
    font-family: 'aileronsemibold';
    letter-spacing: 1px;
}

.pink-background {
	background: rgba(246,217,203,0.98);
	background: -moz-linear-gradient(top, rgba(246,217,203,0.98) 26%, rgba(247,252,226,1) 86%, rgba(247,252,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(26%, rgba(246,217,203,0.98)), color-stop(86%, rgba(247,252,226,1)), color-stop(100%, rgba(247,252,226,1)));
	background: -webkit-linear-gradient(top, rgba(246,217,203,0.98) 26%, rgba(247,252,226,1) 86%, rgba(247,252,226,1) 100%);
	background: -o-linear-gradient(top, rgba(246,217,203,0.98) 26%, rgba(247,252,226,1) 86%, rgba(247,252,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,217,203,0.98) 26%, rgba(247,252,226,1) 86%, rgba(247,252,226,1) 100%);
	background: linear-gradient(to bottom, rgba(246,217,203,0.98) 26%, rgba(247,252,226,1) 86%, rgba(247,252,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d9cb', endColorstr='#f7fce2', GradientType=0 )
}

.logo {
    margin-top: 50px;
}

.line-input {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    padding: 0px 30px;
}

.line-input>label {
    font-size: 12px;
    transform: translateY(21px);
    color: #929292;
    font-family: 'aileronsemibold';
    transition: all 0.3s;
    margin: 0;
}

.line-input>input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    outline: none;
    padding: 0 0 6px;
    font-size: 12px;
    font-family: 'aileronsemibold';
    height: 29px;
}

.line-input.active>label {
    font-size: 10px;
    transform: translateY(0);
}