@media all and (-ms-high-contrast:none) {
    /* IE10 */
    .unsupported-browser {
        display: block;
        width: 550px;
        background: #fff;
        padding: 50px;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 5%;
        max-width: 90%;
    }

    .unsupported-browser h3 {
        font-family: 'aileronbold';
        color: #5E5E5E;
        font-size: 24px;
    }

    .unsupported-browser p {
        font-family: 'aileronregular';
        color: #5E5E5E;
        font-size: 14px;
    }

    body {
        background: #EAEAEA;
        text-align: center;
    }

    .main-header,
    .main-container,
    .footer,
    .bottom-nav {
        display: none;
    }

    /* IE11 */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    *::-ms-backdrop, .unsupported-browser {
        display: block;
        width: 550px;
        background: #fff;
        padding: 50px;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 5%;
        max-width: 90%;
    }

    *::-ms-backdrop, .unsupported-browser h3 {
        font-family: 'aileronbold';
        color: #5E5E5E;
        font-size: 24px;
    }

    *::-ms-backdrop, .unsupported-browser p {
        font-family: 'aileronregular';
        color: #5E5E5E;
        font-size: 14px;
    }

    *::-ms-backdrop, body {
        background: #EAEAEA;
        text-align: center;
    }

    *::-ms-backdrop, .main-header {
        display: none;
    }

    *::-ms-backdrop, .main-container {
        display: none;
    }

    *::-ms-backdrop, .footer {
        display: none;
    }

    *::-ms-backdrop, .bottom-nav {
        display: none;
    }
}