.unsupported-browser {
    display: block;
    text-align: center;
    width: 550px;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 90%;
}

.unsupported-browser h3 {
    font-family: 'aileronbold';
    color: #5E5E5E;
    font-size: 24px;
}

.unsupported-browser p {
    font-family: 'aileronregular';
    color: #5E5E5E;
    font-size: 14px;
}

body {
    background: #EAEAEA;
    text-align: center;
}

.main-header,
.main-container,
.footer,
.bottom-nav {
    display: none;
}